.SingleCounter {
  display: block;
  margin: 10px;
  width: 220px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px 3px rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
}
.SingleCounter h2 {
  text-align: center;
  line-height: 1.3;
  color: #0048ba;
}

.SingleCounter span {
  margin-right: 8px;
}
.SingleCounter__buttons {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.SingleCounter__button {
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #bfff8f;
  color: #0048ba;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 1px 2px 2px 0 rgb(0 0 0 / 0.5);
  transition: box-shadow 250ms linear;
}
.SingleCounter__button:hover {
  backgroundcolor: red;
}
.SingleCounter__button:active {
  box-shadow: 2px 5px 2px 0 rgb(0 0 0 / 0.5);
}
.SingleCounter__value {
  margin: 0;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 48px;
  font-family: monospace;
  text-align: center;
  color: #0048ba;
}
